# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake-build-debug/.cmake/api/v1/reply/cache-v2-9fc0cb7e7db2f340a4b1.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-d21da428d862fb83018e.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6034db8524127ad1b3e6.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-ece2e53704c1e83b4377.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-4ad05168f54756ae8e1a.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-b1beb32dbec1561fff02.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-11-06T19-25-45-0208.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-11-09T15-14-48-0640.json
cmake-build-debug/.cmake/api/v1/reply/target-TP_POO_2022_2023-Debug-2a976dc1883bb0ed8d0e.json
cmake-build-debug/.cmake/api/v1/reply/target-TP_POO_2022_2023-Debug-92a126923085ed43a01d.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-690b0266afb2b0a3379c.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-879ae172463b8b264ea5.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.23.2/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/TP_POO_2022_2023
cmake-build-debug/.cmake/api/v1/reply/cache-v2-d21da428d862fb83018e.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6034db8524127ad1b3e6.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-036c42a5d551109d29bf.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-4ad05168f54756ae8e1a.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-11-06T19-25-45-0208.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-11-09T17-36-02-0607.json
cmake-build-debug/.cmake/api/v1/reply/target-TP_POO_2022_2023-Debug-6364bdb480a2b9e1cd81.json
cmake-build-debug/.cmake/api/v1/reply/target-TP_POO_2022_2023-Debug-92a126923085ed43a01d.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-690b0266afb2b0a3379c.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Testing/Temporary/LastTest.log
